<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- End of google font -->
    <link rel="stylesheet" href="/static/about.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Team</title>
  </head>
  <body class="about_body">
    <section>
        <h1>Our Team</h1>
      </div>
      <div class="row">
        <!--  Colum 1  -->
        <div class="colum">
          <div class="card">
            <div class="img-container">
              <img src="static/kingsleyesisi.jpg" />
            </div>
            <h3>Kingsley Esisi</h3>
            <p>Co-Founder <br>
              backend developer 
             <div class="icons">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
                <!--  Colum 2 -->
                <div class="colum">
                  <div class="card">
                    <div class="img-container">
                      <img src="static/kingsleyesisi.jpg" />
                    </div>
                    <h3> New Kingsley</h3>
                    <p>Co-Founder <br> frontend developer </p>
                    
                    <div class="icons">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-linkedin"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-github"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </div>
                  </div>
                </div>        
      </div>
    </section>
    <section class="about" >
      <div class="main">
          <img src="static/kingsleyesisi.jpg" alt=" Kingsley ">
          <div class="about-2">
                <h2> Kingsey Esisi </h2>
                <h5> Co Founder <span> File Bridge</span><h5>
              <p> <Span> Kingsley Esisi </Span>  is a backend developer with a passion for building scalable and efficient systems. 
                he brings his experties in Python and Cyber Security to the project, ensuring a robust and reliable roundation for our file sharing app. <br>
          </div>
      </div>
  
  </section>

  <section class="about" >
    <div class="main">
        <img src="static/kingsleyesisi.jpg" alt=" Kingsley ">
        <div class="about-2">
              <h2> Tuoyo samuel  </h2>
              <h5> Co Founder <span> File Bridge</span><h5>
            <p> <Span> Kingsley Esisi </Span>  is a backend developer with a passion for building scalable and efficient systems. 
              he brings his experties in Python and Cyber Security to the project, ensuring a robust and reliable roundation for our file sharing app. <br>
        </div>
        
        
      </section>
    </div>
    
  </body>
  <footer id="footer">
    <div><a id="main-link" href="/main"><i class="fas fa-share-alt"></i> <span>Share Files</span></a></div>
    <div><a id="mp3-link" href="/Downloads"><i class="fas fa-download"></i> <span>Downloads</span></a></div>
    <div><a id="instructions-link" href="/instructions"><i class="fas fa-book-open"></i> <span>Instructions</span></a></div>
    <div><a id="me-link" href="/about"><i class="fas fa-user"></i> <span> About </span></a></div></footer>
    </html>
