<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />       
    <script src="https://kit.fontawesome.com/edec7f25e3.js" crossorigin="anonymous"></script>
  <!-- This is The socket.io javascript library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <!-- This is the jquery CDN -->
 <!-- https://releases.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<!-- This is the document title icon -->
    <link rel="shortcut icon" href="../../static/Filebridge.png" type="image/x-icon">
    <script>
        $(document).ready(() => {
  let socket = io.connect("/sender");
  socket.on("connect", () => {
    socket.emit("sender", {});
  });
  socket.on("status", (data) => {
    $("#ChatArea").val($("#ChatArea").val() + " " + data.msg + "\n");
    $("#ChatArea").scrollTop($("#ChatArea")[0].scrollHeight);
  });
  $("#send-btn").click((e) => {
    const text = $("#sendinput").val();
    $("#sendinput").val("");
    socket.emit("text", { msg: text });
  });
  socket.on("message", (data) => {
    if (data.file) {
      const downloadLink = document.createElement('a');
      downloadLink.href = data.file;
      downloadLink.download = data.fileName;
      downloadLink.textContent = `Download ${data.fileName}`;
      downloadLink.style.display = 'block';
      document.getElementById('messages').appendChild(downloadLink);
      $("#ChatArea").val($("#ChatArea").val() + " " + data.username + ": File received - " + data.fileName + "\n");
    } else {
    
      $("#ChatArea").val($("#ChatArea").val() + " " + data.msg + "\n");
    }
    $("#ChatArea").scrollTop($("#ChatArea")[0].scrollHeight);
  });
  $("#fileinput").change((e) => {
    const file = e.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = (event) => {
        socket.emit("file", { file: event.target.result, fileName: file.name, fileType: file.type });
      };
      reader.readAsDataURL(file);
    }
  });
  const leaveRoom = () => {
    socket.emit("left", {}, () => { 
        socket.disconnect();
        window.location.href = "/receiver"
      
    });
  };
  $(".leave-btn").click(leaveRoom);
});

    </script>    
    <title>FileBridge</title>
</head>
<body>
  <main>
    <header>
      <h1>File-Bridge <i class="fas fa-briefcase"></i></h1>
    </header>
    <dialog class="modal" id="modal" style="text-align: center;">
    <h2>Are you sure you want to leave?</h2>
  <button class="button close-button-modal close-button">No</button>
  <button type="submit" class="leave-btn" id="leave-btn" onclick="leaveRoom()">Yes</button>
  </dialog>
       
   <button class="button open-button open-button-Mobile" id="leave-btn">Leave Room</button>
   
    <div id="sending-page">
      <h2 class="text-center">Room ({{session['Room_Name']}})</h2>
      <!-- Add file input in the chat area -->
      <textarea
        placeholder="Leave a chat or drop a file"
        id="ChatArea" disabled
      ></textarea>
<div id="messages"><i class="fas fa-download"></i></div>
  
      <div class="send-input">
        <input
          type="text"
          id="sendinput"
          class="text-input"
          placeholder="John what file should i send?"
        />
    </div>

      <!-- File input for uploading files -->
        <input type="file" multiple id="fileinput" class="file-input" style="display: none;" />
      <label for="fileinput" id="file-upload"><i class="fa-solid fa-file"></i></label>
  
     <button class="send-button" id="send-btn">Send <i class="fas fa-paper-plane"></i></button>
<div></div>
 <!--   <div id="messages"></div> -->
    <button class="button open-button open-button-Desktop" id="leave-btn">Leave Room</button>
      
        
       </div>

<footer id="footer">
  <div><a id="main-link" href="/main"><i class="fas fa-share-alt"></i> <span>Share Files</span></a></div>
  <div><a id="mp3-link" href="/Downloads"><i class="fas fa-download"></i> <span>Downloads</span></a></div>
  <div><a id="instructions-link" href="/instructions"><i class="fas fa-book-open"></i> <span>Instructions</span></a></div>
  <div><a id="me-link" href="/about"><i class="fa-solid fa-user-group"></i> <span>About</span></a></div>
</footer> 
   <script>
     const openModals = document.querySelectorAll(".open-button");
const closeModals = document.querySelectorAll(".close-button");

openModals.forEach((btn) => {
  btn.addEventListener("click", () => {
    modal.showModal();
  });
});

closeModals.forEach((btn) => {
  btn.addEventListener("click", () => {
    modal.close();
  });
});
</script>
<script src="static/app.js"></script>
</body>
</html>
